:root {
  --primary-color: #007bff; /* Основной цвет */
  --secondary-color: #6c757d; /* Вторичный цвет */
  --text-color: #3f4254; /* Цвет текста */
  --background-color: #e4eaff; /* Цвет фона */
  --white-color: #ffffff;
  --shadow-color: #2e3e9a1a;
  --outline-color: #4971ff;
  --error-color: #d61f34;
  --scrollbar-color: #3f425415;
}

html {
  font-family: Poppins, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  background-color: var(--background-color);
  width: 100vw;
  height: 100vh;
  user-select: none;
  box-sizing: border-box;
}
