.custom-scroll__list {
  background: var(--white-color);
  border-radius: 4px;
  box-shadow: 0 10px 30px 0 var(--shadow-color);
  list-style: none;
  margin: 1px 0;
  max-height: 168px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 4px 1px 4px 0;
  position: absolute;
  scrollbar-width: thin;
  width: 100%;
  transition: transform 0.5s ease;
  z-index: 9;
}

.custom-scroll__list::-webkit-scrollbar {
  width: 4px;
}

.custom-scroll__list::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  border-radius: 6px;
  height: 90px;
  width: 4px;
}

.custom-scroll__list::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll__item {
  min-height: 32px;
  cursor: pointer;
  max-height: 32px;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  font-size: 13px;
  line-height: 16px;
  transition: opacity 1s ease;

  &:hover {
    background: var(--background-color);
  }
}

.custom-scroll__item--selected {
  border: 2px solid var(--outline-color);
}

.custom-scroll__item--disabled {
  cursor: default;

  &:hover {
    background: transparent;
  }
}
