.custom-scroll__select {
  background: var(--white-color);
  border-radius: 4px;
  cursor: pointer;
  font-size: 13px;
  height: 32px;
  line-height: 20px;
  overflow: hidden;
  padding: 6px 12px;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 10;
}

.custom-scroll__select--selected {
  outline: 1px solid var(--outline-color);
}

.custom-scroll__arrow {
  position: absolute;
  right: 10px;
  top: 9px;
}

.custom-scroll__error {
  color: var(--error-color);
  font-size: 13px;
  position: absolute;
  bottom: -20px;
}

.custom-scroll__icon {
  align-items: center;
  background: var(--outline-color);
  border-radius: 16px;
  color: var(--white-color);
  display: flex;
  font-size: 10px;
  font-weight: 500;
  justify-content: center;
  margin-right: 8px;
  min-height: 16px;
  min-width: 16px;
  text-transform: uppercase;
}

.custom-scroll__label {
  font-size: 12px;
  line-height: 20px;
}

.custom-scroll {
  margin: auto;
  max-width: 361px;
  min-width: 270px;
  width: 50vw;
  position: relative;
  height: 220px;
}
